.sidebar {
    position: fixed;
    width: var(--w-sidebar);
    z-index: 10;
    top: 0;
    bottom: 0;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #313a46;
    box-shadow: var(--box-shadow);
}
.sidebar-nav {
    display: flex;
    flex-direction: column;
}

.sidebar-brand {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.sidebar-brand,
.sidebar-brand:hover,
.sidebar-nav .nav-link:hover,
.sidebar-nav .nav-link.active {
    color: #fff;
}

.sidebar-nav .nav-link {
    padding: 1rem .5rem;
    color: #8391a2;
}