.form-container {
  padding: 25px;
  margin-top: 35px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background: #fff;
}

.form-container button {
  display: block;
  margin: auto 0 auto auto;
}
