@import "./style.scss";

.content-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: $w-sidebar;
  color: $text-color;
  background: $bg-body;
}

.content-container h4 {
  margin-bottom: 35px;
}

.content-page {
  flex: 1 1 auto;
  padding: 35px;
}

.page-body {
  padding: 25px;
  margin-top: 35px;
  border-radius: 8px;
  box-shadow: $box-shadow;
  background: #fff;
}
