$w-sidebar: 250px;
$box-shadow: 0 0 35px 0 #9aa1ab26;
$text-color: #6c757d;
$bg-body: #fafbfe;
$border-color: #ced4da;
$box-shadow: 0 0 35px 0 #9aa1ab26;



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

